body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
header{
    background: black;
    padding: 20px;
    width: 100%;
    height: 62px;
    position: relative;
    box-sizing: border-box;
    /* position: fixed; */
}
#logopic{
    width: 100px;
    float: left;
    height: 74px;
    margin-top: -15px;
    cursor: pointer;
    padding-right: 0%;
}
.left_area {
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 24px;
}
.right_area{
    float: right;
    margin-top: 15px;
}
.nav-panel{
    background: black;
    padding: 0px;
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    height: 109px;
    opacity: 0.75;
}
.hidden {
    display: none;
}
.nav-panel a{
    color: rgb(255, 255, 255);
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property:back;
    justify-content: center;
}
#profile_image{
    display: flex;
    width: 75px;
    height: 75px;
    border-radius: 100px;
    margin-bottom: 10px;
    position: relative;
    flex-basis: 100px;
    margin-left: 44px;
    margin-right: 44px;
    margin-top: 18px;
}
#profile_name{
    color: rgb(255, 255, 255);
    margin-top: 0;
    margin-bottom: 20px;
}
.fa-bars {
    z-index: 1;
    color: #fff;
    cursor: pointer;
    left:20px ;
    font-size: 20px;
    transition: 0.5s;
    transition-property: color;
}
.nav-panel a:hover{
    color: #ff7200;
    transition: 0.4s ease-in-out;
    height: 107px;
}
.nav-panel i{
    padding-right:10px ;
}
.nav-panel .fas, .nav-panel .fab{
    display: flex;
    font-size: 270%;
    text-align: center;
    justify-content: center;
    margin-top: 29px;
}
.nav-panel h4{
    text-align: center;
    margin: 0;
}
#check{
    display: none;
}
ul{
    margin-top: -0.8%;
    display: flex;
    margin-left: -3.5%;
    justify-content: center;
}
ul li{
    list-style: none;
    margin-left: 40px;
    margin-top: -3px;
    font-size: 14px;
}
ul li a{
    text-decoration: none;
    color: #fff;
    font-family:  'Roboto', sans-serif;
    transition: 0.4s ease-in-out;
}
ul li a:hover,ul li i:hover{
    color: #ff7200;
}
.container{
    grid-template-rows: 70px 600px;
    display: grid;
    grid-template-areas: 
    'header'
    'content';
}
.content{
    display: grid;
    grid-template-rows: 50px 2550px;
    grid-template-areas: 
    'content1'
    'content2';
}
.content1{
    background-color: #e9e9e9;
    margin-top: -8px;
    height: 60px;
}
form.example input[type=text] {
    padding: 8px;
    /* position: fixed; */
    font-size: 16px;
    border: none;
    margin-top: 6px;
    width: 63%;
    box-shadow: 0px 5px 10px 5px rgb(199, 195, 195);
  }
form.example button {
    float: left;
    /* position: fixed; */
    width: 3%;
    padding: 8px;
    background: #bbbfc2;
    color: black;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-left: 210px;
    margin-top: 6px;
  }
form.example button:hover {
    background: #d1cfcd;
  }
form.example::after {
    content: "";
    clear: both;
    display: table;
}
.main{
    float: left;
    margin-top: -40px;
    margin-left: 15px;
}
.main i{
    color: #7c7b7b;
    cursor: pointer;
    padding: 7px;
    font-size: 35px;
}
.main i:hover{
    background: #d6d4d1;
}
.content2{
    display: grid;
    grid-template-columns: 500px 700px;
    background-color: #fff;
    width: 100%;
    height: 650px;
    margin-top: -8px;
}
.setting{
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 20px;
    height: 640px;
}
.setting i{
    margin-left: -30px;
    color: #5e5c5c;
    cursor: pointer;
}
.setting img{
    width: 100px;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 80px;
    border: 1px solid rgb(177, 175, 175);
}
.setting h3{
    margin-left: 200px;
    margin-top: -90px;
    position: absolute;
    cursor: pointer;
    color: black;
}
.setting p{
    margin-left: 200px;
    margin-top: -65px;
    font-size: 15px;
}
.menu{
    display: flex;
    flex-direction: column;
    height: 360px;
    width: 230px;
    margin-left: 85px;
    margin-top: 70px;
    box-shadow: 5px 5px 5px 5px rgb(199, 195, 195);
    border-radius: 8px;
}
.menu a{
    text-decoration: none;
    color: #000000;
    height: 18px;
    display: inline-block;
    font-size: 15px;
    transition-duration: 0.3s;
    padding: 16px;
}
.menu a:hover{background: #dad7d5;}
.menu a.active{background-color: #dad7d5;}
.menu h4{margin-left: 15px;}
.form input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
.form input[type=submit] {
    width: 100%;
    background-color: #abafac;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
  } 
.form input[type=submit]:hover {
    background-color: #ff7200;
    color: #fff;
}
.form{
    background-color: rgb(230, 228, 228);
    box-shadow: 0px 5px 10px 5px rgb(199, 195, 195);
    border-radius: 10px;
    margin-top: 50px;
    padding: 30px;
    height: 600px;
}
.form label{font-size: 15px;}
.form i{
    cursor: pointer;
    color: #5e5c5c;
}


