body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    /* background-color: #c4c4c4; */
}
.container{
    display: grid;
    grid-template-rows: 120vh 100px;
    grid-template-areas: "myform"
                         "footer";
}
.myform{
    grid-area: myform;
    display: flex;
    flex-direction: column;
    margin: 7vh 50vh;
    padding: 0px 65px;
    background-color: #c4c4c4;
    box-shadow: 5px 5px 5px  #cccccc;
    border-radius: 15px
}

.myform >label{
     padding: 10px 10px 10px 0px;
     margin: 5px 10px 5px 0px;
     display: block;
     text-align: left;
 }
.myform >input,select{
    padding: 10px 10px 10px 3px;
    margin: 5px 10px 5px 0px;
    display: block;
    text-align: left;
}

#buttons{
  margin: 10px 10px 20px 0px;
}
.btn{
    width: 100px;
    height: 35px;
}

.footer{
    grid-area: footer;
    border-top: 1px solid #ebebeb;
    padding-bottom: 2%;
    padding-top: 1%;
    padding-left: 0%;
    font-size:14px;
    background: rgb(0, 0, 0);
}
.footer p {
    text-align: center;
    color: rgb(255, 255, 255);
}

#complaineeuseridlable{
    display: none;
}
#complaineeuserid{
    display: none;
}


