
header{
    padding: 1px;
    display: grid;
    grid-template-areas:
            'left_area right_area';
}

.navbar{
    grid-area: navbar;
    margin: 0px;
    background: #22242A;
    padding: 20px;
    height: 30px;
}

.sidebar{
    background: #22242A;
    margin: 0px;
}

#logopic{
    width: 100px;
    float: left;
    height: 70px;
    margin-top: -15px;
    cursor: pointer;
    padding-right: 0%;

}

.left_area {
    color: #fff;
    margin-left:38px;
    text-transform: uppercase;
    font-size: 24px;

}
.right_area{
    text-align: right;
    margin: -7px;
    padding: 0px;
}

/*#logout_btn{
    padding: 5px;
    background: #19B3D3;
    text-decoration: none;
    float: right;
    margin-top: 1px;
    margin-right: 40px;
    border-radius: 2px;
    font-size:15px;
    font-weight: 600;
    color: #fff;
}*/

/* #logout_btn:hover{ */
    /* background: skyblue;
}*/


#profile_image{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
}

#profile_name{
    color: rgb(255, 255, 255);
    margin-top: 0;
    margin-bottom: 20px;
}

.sidebar a{
    color: rgb(255, 255, 255);
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 20%;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property:back;
}

.sidebar a:hover{
    background: #FF3D00;
}

.sidebar i{
    padding-right:10px ;
}

label #sidebar_btn{
    z-index: 1;
    color: #fff;
    cursor: pointer;
    left:20px ;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
}

label #sidebar_btn:hover{
    color: #FF3D00;
}




/*.content{*/
/*    margin-left: 250px;*/
/*    background: url(../images/navbar/homepagepic-1.jpg) no-repeat;*/
/*    background-position: center;*/
/*    background-size: cover;*/
/*    height: 100vh;*/
/*    transition: 0.5s;*/
/*}*/




ul{
    /* float: left; */
    right: -10px;
    display: flex;
    justify-content: right;
    align-content: center;
    float: inherit;
}

ul li{
    list-style: none;
    margin-left: 40px;
    margin-top: -3px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family:  'Roboto', sans-serif;
    /* font-weight: bold; */
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #FF3D00;
}
.userdesc{
    text-align: center;
    justify-content: center;
    padding: 10px;
}