body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.footer{
    border-top: 1px solid #ebebeb;
    padding-bottom: 0%;
    padding-top: 1%;
    padding-left: 0%;
    font-size:14px;
    background: rgb(0, 0, 0);
}
.footer p{
    text-align: center;
    color: rgb(255, 255, 255);
}

/* .Maxcontainer{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.68fr 0.12fr;
    grid-template-areas: 
    "firstpart"
    "content"
    "footer";
} */

.buttons {
    /* margin-top: 20px; */
}