:root{
    --main-radius:5px;
    --main-padding:5px;
    font-family:  'Roboto', sans-serif;
    background: rgb(255, 255, 255);
    
}
.container
{
    display:grid;
    height: 100vh;
    grid-template-columns: 0.6fr 1fr 1fr 0.4fr;
    grid-template-rows: 0.14fr 0.16fr 1.2fr;
    grid-template-areas:
        "nav "
        "main "
        "sidebar content1 content2 content3";
        /* "sidebar footer footer footer"; */
    grid-gap: 0.2rem;
}

nav{
    background: #000000;
    grid-area: nav;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    
}

.navdivided
{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr;
    grid-template-areas:
        "left_area, right_area";
    grid-gap: 0.2rem;
}
#logopic{
    width: 100px;
    float: left;
    height: 70px;
    margin-top: 0px;
    cursor: pointer;
    padding-right: 0%;
}
li{
    display: inline-block;
    padding: 15px 30px;
}

a{
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}

a:hover{
    color: rgb(255, 183, 49);
    transition: 0.5s;
}


main{
    background: #ffffff;
    grid-area: main;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#mainmenu{
    position: relative;
    top: 30px;
    left: 20px; 
    
}

#sidebar{
    background: #ffffff;
    grid-area: sidebar;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

.content1{
    display:grid;
    
    background: #ffffff;
    grid-area: content1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    grid-template-columns: 1fr;
    grid-template-rows: 0.6fr 0.4fr;
    grid-template-areas:
        "part_1"
        "part_2";
        
        /* "sidebar footer footer footer"; */
        grid-gap: 0.2rem;
}

.content2{
    display:grid;
    background: #ffffff;
    grid-area: content2;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 0.3fr 0.6fr;
    grid-template-areas:
        "part2_1"
        "part2_2"
        "part2_3";
        /* "sidebar footer footer footer"; */
    grid-gap: 0.2rem;
    padding: 35px;
    padding-top: 2px;
    
}

.content3{
    background: #ffffff;
    grid-area: content3;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    display:grid;    
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.8fr;
    grid-template-areas:
        "part_1"
        "part_2";
        
        /* "sidebar footer footer footer"; */
    grid-gap: 0.2rem;
    padding: 10px;
    padding-top: 2px;
    
}

/* footer{
    background: #1de9b6;
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
} */

@media only screen and (max-width:550px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
        grid-template-areas: 
            "nav"
            "sidebar"
            "main"
            "content1"
            "content2"
            "content3"
            "footer";
    }
}

#part_1{
    background: #ffffff;
    grid-area: part_1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    border-style: groove;
      
}

#productpic{
    width: 75%;
    height: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.part_2{
    background: #ffffff;
    grid-area: part_2;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    display:grid;
    grid-template-columns: 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr;
    grid-template-rows: 0.2fr;
    grid-template-areas:
        "con1par2_1,con1par2_2,con1par2_3,con1par2_4,con1par2_5";
        
        /* "sidebar footer footer footer"; */
    /* grid-gap: 0.2rem; */
}
.part2_1text{
    font-size: small;
    font-weight: bold;
}
.part2_2text{
    font-size: smaller;
}

#part_3{
    background: #fcfcfc;
    grid-area: part_3;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#part2_1{
    background: #ffffff;
    grid-area: part2_1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
#edit1{
    position: relative;
    top: 5px;
    left: 470px;    
}
#edit3{
    position: relative;
    top: 5px;
    left: 170px;    
}

#part2_2{
    background: #ffffff;
    grid-area: part2_2;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#part2_3{
    background: #ffffff;
    grid-area: part2_3;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#con1par2_1{
    background: #e26464;
    grid-area: con1par2_1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#con1par2_2{
    background: #518a64;
    grid-area: con1par2_2;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
#con1par2_3{
    background: #ccd454;
    grid-area: con1par2_3;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
#con1par2_4{
    background: #fa1414;
    grid-area: con1par2_4;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
#con1par2_5{
    background: #6e5ac9;
    grid-area: con1par2_5;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

