
.container{
    display: grid;
    grid-template-rows: 70px auto 110px;
    grid-template-areas: "nav"
                         "webpage"
                          "footer";

}

.content{
    grid-area: webpage;
    height: 100vh;
    display: grid;

    /* align-items: center;
    justify-content: center; */
    width: 100%;
    margin-top: 5px;
    grid-template-areas:"headline"
                        "first_row"
                        "second_row"
                        "third_row" ;
    grid-template-rows: 40px 60px auto auto;
    grid-row-gap: 10px;
    overflow-y: auto;
    font-family: "Roboto", sans-serif;
}
.headline{

}
#title{
    text-align: center;
    margin-top: 25px;
}
.first{
    grid-area: first_row;
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    background-color: rgb(255, 255, 255);
    height: 8vh;
    /*width: 199.9vh;*/
}
.second{
    grid-area: second_row;
    background-color: rgb(255, 255, 255);
    height: 5vh;
    width: 100%;
    /*width: 199.9vh;*/
}
.third{
    grid-area: third_row;
    background-color: rgb(255, 255, 255);
    height: 72vh;
    width: 100%;
    /*width: 199.9vh;*/
}

/* //////////////////////////////////////////////////////////////////////////// */

.common{
    margin-top: 5px;
    margin-left: 53px;
    height: 10px;
    width: 55px;
    border-radius: 3px;

}

#available_adds{
    background-color: #ff7200;
    font-size: 17px;
    border-radius: 20px;
    cursor: pointer;

}

#make_adds{
    font-size: 14px;
    border-radius: 10px;
    cursor: pointer;
    width: 160px;
    background-color: #efefef;
    border-style: none;
    height: 53px;
}

#rejected_adds{
    font-size: 17px;
    border-radius: 20px;
    cursor: pointer;
}
#available_adds:hover, #make_adds:hover{
    background-color: #ff7200;
    color: white;
}

.from {
    float: left;
    margin-left: 53px;
}

.to{
    float: left;
    margin-left: 50px;
}

.By_option{
    float: left;
    margin-left: 50px;
}
.btn, .okbtn{
    background-color: #585858;
    border: none;
    color: white;
    padding: 8px 14px;
    display: inline-block;
    font-size: 14px;
    margin: 1px 9px;
    cursor: pointer;
    border-radius: 5px;

}
#confirm{
    background-color: #1fa11f;
}
#confirm:hover{
    background-color: #000000;
}
#reject{
    background-color: #d21212;
}
#reject:hover{
    background-color: #000000;
}

/*manageadds{*/

/*    border-collapse: collapse;*/
/*    width: 90.4%;*/
/*    margin-left: 54px;*/
/*}*/
.manageadds{
    margin-left: 50px;
}
.manageadds td, .manageadds th {
    border: 1px solid #ddd;
    padding: 8px;
}

.manageadds tr:nth-child(even){
    background-color: #f2f2f2;
}

.manageadds  tr:hover {
    background-color: #ddd;
}

.manageadds
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #7c7c7c;
    color: white;
}
.manageadds
tr{
    text-align: left;
}
.headrow th{
    text-align: center;
}

.managebtn{
    cursor: pointer;
}
.popup{
    position: absolute;
    z-index: 1;
    top: 15%;
    left: 28%;
    justify-content: center;
    background-color: black;
    visibility: hidden;

}
.popup-content{
    width: 616px;
    height: 537px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    border: solid;

}


#close{
    width: 36px;
    /* float: left; */
    border: black;
    font-weight: bold;
    border-radius: 100%;
    cursor: pointer;
    position: absolute;
    margin: 12px;
    /* background: #f30707; */
    font-size: 30px;
    color: #060000;
    margin-left: 565px;
}



input[type=text], select, textarea {

    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    /* resize: vertical; */
}

input[type=date], select, textarea {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    /* resize: vertical; */
}

.footer{
    grid-area: footer;
    border-top: 1px solid #ebebeb;
    padding-bottom: 0.4%;
    padding-top: 1%;
    padding-left: 0%;
    font-size:14px;
    background: rgb(0, 0, 0);
}
.footer p{
    text-align: center;

}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
