body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
.menu_bar{
    position: fixed;
    background: black;
    padding: 20px;
    width: 100% ;
    height: 73px;
    box-sizing: border-box;
    grid-area:navbar;
}
#logopic{
    width: 100px;
    float: left;
    height: 74px;
    margin-top: -15px;
    cursor: pointer;
    padding-right: 0%;
}
.left_area {
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 24px;
}
.right_area{
    float: right;
    margin-top: 15px;
}
.nav-panel {
    background:#000000d4;
    padding: 0px;
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    height: 109px;
}
.hidden {
    display: none;
}
.nav-panel a{
    color: rgb(255, 255, 255);
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property:back;
    justify-content: center;
}
#profile_image{
    display: flex;
    width: 75px;
    height: 75px;
    border-radius: 100px;
    margin-bottom: 10px;
    position: relative;
    flex-basis: 100px;
    margin-left: 44px;
    margin-right: 44px;
    margin-top: 18px;
    cursor: pointer;
}
#profile_name{
    color: rgb(255, 255, 255);
    margin-top: 0;
    margin-bottom: 20px;
    cursor: pointer;

}
.fa-bars {
    z-index: 1;
    color: #fff;
    cursor: pointer;
    left:20px ;
    font-size: 20px;
    transition: 0.5s;
    transition-property: color;
}
.nav-panel a:hover{
    color: #FF7200;
    transition: 0.4s ease-in-out;
    height: 107px;
}
.nav-panel i{
    padding-right:10px ;
}
.nav-panel .fas, .nav-panel .fab{
    display: flex;
    font-size: 270%;
    text-align: center;
    justify-content: center;
    margin-top: 29px;
}
.nav-panel h4{
    text-align: center;
    margin: 0;
}
#check{
    display: none;
}
ul{
    margin-top: -0.8%;
    display: flex;
    margin-left: -3.5%;
    justify-content: center;
}
ul li{
    list-style: none;
    margin-left: 40px;
    margin-top: -3px;
    font-size: 14px;
}
ul li a{
    text-decoration: none;
    color: #fff;
    font-family:  'Roboto', sans-serif;
    transition: 0.4s ease-in-out;
}

ul li a:hover,ul li i:hover{
    color: #FF7200;
}

.nav-panel a:hover{
    transform: scale(1.1);
}
.container{
    grid-template-rows: 73px 80px 660px;
    display: grid;
    grid-template-areas: 
    'menu_bar'
    'content1'
    'content2';
}
.content1{
    margin-top: 73px;
    display: grid;
    grid-template-columns: 250px 1fr 240px;
    grid-template-areas:'name search img' ;
    height: 80px;
    /* background-color:#d1cfcd; */
}
.name{
    height: 80px;
    margin-left: 20px;}
.name p{margin-top: -12px;}

form.example input[type=text] {
    background: #e6e4e3;
    padding: 10px;
    font-size: 16px;
    border: none;
    margin-top: 20px;
    width: 40%;
  }
form.example button {
    float: left;
    width: 5%;
    padding: 10px;
    background: #aaabac;
    color: black;
    font-size: 16px;
    border: none;
    cursor: pointer;
    /* margin-left: 0px; */
    margin-top: 20px;
  }
form.example button:hover {
    background: #a7a4a2;
}
form.example::after {
    content: "";
    clear: both;
    display: table;
}
.img{height: 80px;}
.img .user{
    width: 50px;
    border-radius: 50px;
    margin-top: 10px;
}
.img h3{
    margin-top: -50px;
    margin-left: 70px;}
.img p{
    margin-left: 70px;
    margin-top: -10px;
}
.content2{
    height: 670px;
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-areas: 'home project';
    margin-top: 80px;
    /* background-color:#d1cfcd; */
}
.home{
    /* background-color: #d1cfcd; */
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}
.home a{
    text-decoration: none;
    color: #000000;
    height: 18px;
    display: inline-block;
    font-size: 15px;
    transition-duration: 0.3s;
    padding: 20px;
    margin-left: 20px;
}
.home a:hover{
    background: #e6e4e3;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    }
.home a.active{
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background-color: #e6e4e3;
}
.onproject{
    /* background-color: #fff; */
    background-color:#e6e4e3;
    border-radius: 30px;
    margin-right: 120px;
    margin-bottom: 20px;
    display: grid;
    grid-template-rows: 300px 350px;
}
.item1{
  padding:20px; 
  border-radius: 30px;
  
  box-shadow: 5px 5px 5px 5px rgb(199, 195, 195);
}
.item1 form{
    margin-top: 20px;
}
.item2{
   display: grid;
   padding: 20px;
   grid-template-columns: 530px 525px;
   grid-column-gap: 30px;
}
.chart1{box-shadow: 5px 5px 5px 5px rgb(199, 195, 195);}
.chart2{box-shadow: 5px 5px 5px 5px rgb(199, 195, 195);}


.footer{
    border-top: 1px solid #ebebeb;
    padding-bottom: 0%;
    padding-top: 1%;
    padding-left: 0%;
    font-size:14px;
    height: 50px;
    background: rgb(0, 0, 0);
}
.footer p{
    margin-top: -5px;
    text-align: center;
    color: rgb(255, 255, 255);
}
