*{
    margin:0;
    padding: 0;
}






.main{
    width: 100%;
    background: linear-gradient(to top,rgba(0,0,0,0.4)50%,rgba(0,0,0,0.4)50%);
    background-position: center;
    background-size: cover;
    height: 109vh;    
}

.navbar{
    width: 1400px;
    height: 75px;
    margin: auto;
}

.logo{
    width: 200px;
    float: left;
    height: 70px;
}

.logopic{
    width: 140px;
    cursor: pointer;
    padding-right: 50%;
}

/*.logoname{
    color: #ff7200;
    font-size: 25px;
    font-family:  'Roboto', sans-serif;
    padding-left: 20px;
    float: left;
    padding-top: 10px;

}*/

.menu{
    width: 400px;
    float: left;
    height: 70px;
    padding-left: 650px;

}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-content: center;
}

ul li{
    list-style: none;
    margin-left: 50px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family:  'Roboto', sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #ff7200;
}

.srch{
    font-family:  'Roboto', sans-serif;
    width: 1090px;
    height: 30px;
    background: transparent;
    border: 1px solid #ff7200;
    margin-top: 10px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    letter-spacing: 5px;
    /*border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;*/

}

.btn{
    width: 310px;
    height: 30px;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 10px;
    color: #fff;
    font-size: 15px;
    margin-left: 0px;
    /*border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;*/
}

.btn:focus{
    outline: none;
    
}

.srch:focus{
    outline: none;
}

.content{
    width: 1400px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

.content h1{
    font-family:  'Roboto', sans-serif;
    font-size: 50px;
    padding-left: 10px;
    margin-top: 9%;
    letter-spacing: 2px;
    font-weight: bold;
}

.content .par{
    font-family:  'Roboto', sans-serif;
    padding-bottom: 25px;
    padding-left: 10px;
    line-height: 30px;
    letter-spacing: 1.2px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: #ff7200;
    border: none;
    padding-left: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 18px;
    /*border-radius: 25px;*/
    cursor: pointer;
    transition: .4s ease;


}

.content .cn a{
    text-decoration: none;
    color: black;
    transition: .3s ease;
}

.cn:hover{
    background-color: #fff;
}

#bgvid{
    position: fixed;
    z-index: -1;
}





.form{
    width: 250px;
    height: 380px;
    font-family:  'Roboto', sans-serif;
    background: linear-gradient(to top,rgba(0,0,0,0.6)50%,rgba(0, 0, 0, 0.6)50%);
    position: absolute;
    top: -20px;
    left: 1100px;
    /*border-radius: 15px;*/
    padding: 30px;
}

.form h2{
    padding-left: 70px;
}

.form input
{
    border-top:none;
    height: 40px;
    width: 240px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-right: none;
    border-left: none;
    font-size: 15px;
    outline: none;
    letter-spacing: 1px;
    
    margin-top: 30px;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family:  'Roboto', sans-serif;

}

.form input[type="submit"]{
    background: #ff7200;
    transition: .4s ease;
}

.form input[type="submit"]:hover
{
    cursor: pointer;
    color: rgb(0, 0, 0);
    background: #ffffff;
}

.form input:focus{
    outline: none;
}

::placeholder{
    color: #fff;
    font-family:  'Roboto', sans-serif;
}

.form a{
    text-decoration: none;
    padding-top: 20px;
    line-height: 30px;
    font-size: 12px;
    color: rgb(146, 146, 146);
    font-size: 14px;
    
}

.form a:hover
{
    color: #ff7200;
}

.loginwith{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;

}
.icon{
    text-align: center;
}
.icon ion-icon{
    
    font-size: 30px;
    padding: 10px;
}
#account{
    color: #ff7200;
}











