body{
    padding: 0px;
    margin: 0px;
}
html{
    font-family: 'Roboto', sans-serif;
    /*box-sizing: border-box;*/
}

.container-1{
    display: grid;
    grid-row-gap: 0px;
    grid-column-gap: 0px;
    grid-template-areas:
                'container-2 subtotalcolumn';
}

.container-2{
    display: grid;
    grid-template-columns: 15% 5fr 2fr;
    grid-template-areas:
            'container-3 subtotalcolumn';
}
/*.container-2-1{*/
/*    display: grid;*/
/*    grid-template-columns:25px 5fr 2fr;*/
/*    grid-template-areas:*/
/*            'sidebar container-3 subtotalcolumn';*/
/*}*/

.container-3{
    display: grid;
    grid-row-gap: 12px;
    padding: 5px;
    margin-top: 125px;
    margin-left: 15px;
    grid-template-areas:
            'selectall'
            'itemcolumn';
}

.selectall{
    justify-content: flex-start;
    text-align: left;
}

.itemcolumn{
    grid-area: itemcolumn;
    padding-top:25px;
    padding-left:10px;
    padding-right:10px;
    justify-items: right;
    text-align: left;
    display: grid;
    background-color: #D3D3D3;
    box-shadow:  0 1px 5px rgba(104, 104, 104, 0.8);
}
.itemlist{
    display: flex;
    flex-direction: column;
}
.item{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
        'itemimg itemdes';
}
.itemimg{
    grid-area: itemimg;
}
.itemdes{
    grid-area: itemdes;
    margin: 10px;
}

.subtotalcolumn{
    grid-area:subtotalcolumn;
    padding-left: 50px;
    padding-right: 50px;
}
.subtotalsection{
    padding: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 125px;
    background-color: #D3D3D3;
    box-shadow:  0 1px 5px rgba(104, 104, 104, 0.8);
    font-size: 15px;
}

.pricetable{
    width: 100%;
    height: 100px;
    border: 1px solid;
}
img{
    width: 300px;
    height: 300px;
    padding: 10px;
}
