
.container{
    display: grid;
    grid-template-rows: 70px 90vh 110px;
    grid-template-areas: "nav"
                         "webpage"
                         "footer";
}


/* Start your style of the web page here */
.content{
    grid-area: webpage;
    display: grid;
    width: 100%;
    margin-top: 0%;
    grid-template-columns: 20% 60% 20%;
    grid-template-areas: "a1 a2 a3";

}



.footer{
    grid-area: footer;
    border-top: 1px solid #ebebeb;
    padding-bottom: 2%;
    padding-top: 1%;
    padding-left: 0%;
    font-size:14px;
    background: rgb(0, 0, 0);
}
.footer p{
    text-align: center;
    color: rgb(255, 255, 255);
}
.background-img{
    width: 1519px;
    height: 652px;
}