body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.footer{
    border-top: 1px solid #ebebeb;
    padding-bottom: 2.4%;
    padding-top: 1%;
    padding-left: 0%;
    font-size:14px;
    background: rgb(0, 0, 0);
}
.footer p{
    text-align: center;
    color: rgb(255, 255, 255);
}

/* /////////////////////////////////////////////// */
/* ////////////////////////////////////////////// */


@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

body{
  
    font-family: "Roboto", sans-serif;
  color: #262626;
  /* margin: 5% 0; */
}
.container{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 1200px)
{
  .container{
    max-width: 1140px;
  }
}
.d-flex{
  display: flex;
  flex-direction: row;
  background: #ffffff;
  border-radius: 0 0 5px 5px;
  padding: 25px;
  font-size: 14px;
}
form{
  flex: 4;
}

.title{
  
  background: -moz-linear-gradient(top left, #5195A8 0%, #70EAFF 100%);
  background: -ms-linear-gradient(top left, #5195A8 0%, #70EAFF 100%);
  background: -o-linear-gradient(top left, #5195A8 0%, #70EAFF 100%);
  background: linear-gradient(to bottom right, #5195A8 0%, #70EAFF 100%);
  border-radius:5px 5px 0 0 ;
  padding: 20px;
  color: #f6f6f6;
}
h2{
  margin: 0;
  padding-left: 15px; 
}
.required{
  color: red;
}
label, table{
  display: block;
  margin: 15px;
}
label>span{
  float: left;
  width: 25%;
  margin-top: 12px;
  padding-right: 10px;
}
input[type="text"], input[type="tel"], input[type="email"], select
{
  width: 60%;
  height: 30px;
  padding: 5px 10px;
  margin-bottom: 10px;
  border: 1px solid #dadada;
  color: #888;
}
select{
  width: 63%;
  height: 45px;
  padding: 5px 10px;
  margin-bottom: 10px;
}
.rightside{
  margin-top: 15px;
  height: 490px;
  padding: 20px;
  border: 1px solid #dadada;
  flex: 2;
}
table{
  margin: 0px 57px;
  padding: 0;
}
th{
  border-bottom: 1px solid #dadada;
  padding: 10px 0;
}
tr>td:nth-child(1){
  text-align: left;
  color: #2d2d2a;
}
tr>td:nth-child(2){
  text-align: right;
  color: #000000;
}
td{
  border-bottom: 1px solid #dadada;
  padding: 25px 25px 25px 0;
}

p{
  display: block;
  color: #888;
  margin: 0;
  padding-left: 25px;
}
.rightside>div{
  padding: 15px 0; 
}

button{
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #ff7200;
  color: #fff;
  font-size: 15px;
  /* font-weight: bold; */
}
button:hover{
  cursor: pointer;
  background: #ffa256;
}
#my-form{
  display: flex;
  flex-direction: row;
}
