body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    /* background-color: #c4c4c4; */
}
#container{
    display: flex;
    flex-direction: column;
}
.footer{
    margin: 300px 0px 0px 0px;
}
#content{
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    font-family: "Roboto", sans-serif;
}
.monthly,.annual,.free{
    margin: 20px;
    border: 1px;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 47px;

}
.monthly:hover,.annual:hover,.free:hover{
    box-shadow: 5px 5px 5px 5px rgba(255, 114, 0, 0.22);
}
.ammount{
    color: #ffffff;
    background-color: #ff7200;
}
h1{
    font-size: 60px;
    text-align: center;
}
.facilities-list{
    display: flex;
    flex-direction: column;
}
.facilities-list> li{
    padding: 30px 0px 0px 0px;
}
.sub{
    text-align: center;
    padding: 10px 10px 10px 10px;
    margin: 1px 10px 20px 1px;
}
.sub-btn{
    padding: 13px 27px;
    border-radius: 8px;
    background-color: #e7e7e7;
    color: black;
    border-style: none;
}
.sub-btn:hover{
    background-color: #ff7200;
}

#secon{
    background-color: #1fa11f;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

/*//////////////////////////////////////////////scroll bar///////////*/

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}