body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    /* background-color: #c4c4c4; */
}
#container{
    display: flex;
    flex-direction: column;
}
.footer{
    margin: 300px 0px 0px 0px;
}
#content{
    display: flex;
    flex-direction: row;
    margin-top: 10%;
}
.monthly,.annual,.free{
    width: 500px;
    margin: 20px;
    border: 1px;
    box-shadow: 2px 2px 1px gray;
    border-radius: 5px;

}
.monthly:hover,.annual:hover,.free:hover{
    box-shadow: 10px 10px 5px gray;
}
.ammount{
    color: #cccccc;
    background-color: black;
}
h1{
    font-size: 60px;
    text-align: center;
}
.facilities-list{
    display: flex;
    flex-direction: column;
}
.facilities-list> li{
    padding: 30px 0px 0px 0px;
}
.sub{
    text-align: right;
    padding: 10px 10px 10px 10px;
    margin: 1px 25px 20px 1px;
}
.sub-btn{
    padding: 10px 50px;
    border-radius: 25px;
    background-color: #cccccc;
    color: black;
}
.sub-btn:hover{
    background-color: #ff7200;
}